<h1>Welcome to my Rails Web App for Quiz #1 (and Quiz #2)</h1>

<h3><%= @trivium.question %></h1>
<p><%= @trivium.answer %></p>  


<h3>This app is hosted on Heroku and the code is on GitHub.</h3>